@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FFFFFF;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50rem;
  height: 100%;
  margin: 0 auto;
}

.cv {
  width: 70%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #F2F2F2;
  position: relative;
}

.cv-my {
  width: 100%;
  display: flex;
  padding: 1rem;

  .my-photo {
    background-image: url("../img/IMG_6031.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15rem;
    height: auto;
  }

  .my-contacts {
    padding-left: 1rem;
  }
}

.about-me {
  padding: 0 1rem;
  //margin-bottom: 2.5rem;
}

.knowledge > ul {
  margin-bottom: 4rem;
}

.ul-control {
  list-style: none;
  line-height: 1.4;
  padding-inline-start: 1rem;
}

.li-control {
  padding: 0;
}

.download {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;

  &:hover p,
  &:focus p {
    background-color: #F24150;
    outline: 1px solid white;
  }

  p {
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    background-color: #717171;

  }
}

.portfolio {
  width: 30%;
  margin: 0 auto;

  h2 {
    padding: 0 1rem;
  }

  background-color: #1FAFBF;

}

.li-portfolio {
  margin: 0 auto;
  width: 90%;
  text-align: center;

  &:hover {
    background-color: #F24150;
  }
}

.link {
  text-decoration: none;
  color: black;

  p {
    margin: 0;
    padding: 1rem;
  }

  &:hover {
    color: #F2F2F2;
  }
}

.links {
  text-decoration: none;
  color: black;
  &:hover {
    padding-right: 0.2rem;
    color: #f2f2f2;
    background-color: #F24150;
  }
}

#bg-barbershop {
  background-image: url("../img/forPortfolio/barbershop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-bike {
  background-image: url("../img/forPortfolio/bike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-ticTacToe {
  background-image: url("../img/forPortfolio/tictactoe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-gitSearch {
  background-image: url("../img/forPortfolio/gitsearch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-comingsoon {
  background-image: url("../img/forPortfolio/comingsoon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
  .cv {
    width: 80%;
  }
  .portfolio {
    width: 80%;
  }
  #bg-barbershop {
    height: 20rem;
  }

  #bg-bike {
    height: 20rem;
  }

  #bg-ticTacToe {
    height: 20rem;
  }

  #bg-gitSearch {
    height: 20rem;
  }

  #bg-comingsoon {
    height: 20rem;
  }
}

@media (max-width: 550px) {
  .cv-my {
    flex-wrap: wrap;
    padding: 0;

    .my-photo {
      width: 9rem;
      height: 12rem;
      margin: 1rem 1rem 0;
    }

    .my-contacts {
      background-color: #1FAFBF;
      width: 100%;
    }
  }

  .download {
    margin-bottom: 2.5rem;
  }

  .knowledge > ul {
    margin-bottom: 8rem;
  }
}

@media (max-width: 425px) {
  .cv {
    width: 100%;
  }
  .portfolio {
    width: 100%;
  }

  #bg-barbershop {
    height: 12rem;
  }

  #bg-bike {
    height: 12rem;
  }

  #bg-ticTacToe {
    height: 12rem;
  }

  #bg-gitSearch {
    height: 12rem;
  }

  #bg-comingsoon {
    height: 12rem;
  }
}
