@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");

:root {
  --body-bg-color: #333233;
  --cv-bg-color: #F2F2F2;
  --download-btn-color: #545454;
  --portfolio-bg-color: #1FAFBF;
  --text-color: black;

  --hover-text-color: #F2F2F2;
  --hover-bg-color: #F24150;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--body-bg-color);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50rem;
  height: 100vh;
  margin: 0 auto;
}

.cv {
  width: 70%;
  height: 60rem;
  margin: 0 auto;
  background-color: var(--cv-bg-color);
  position: relative;
}

.cv-container {
  width: 100%;
  display: flex;
  padding: 1rem;

  .cv-photo {
    background-image: url("../img/IMG_6031.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15rem;
    height: auto;
  }

  .cv-contacts {
    padding-left: 1rem;
  }
}

.cv-about {
  padding: 0 1rem;
}

.knowledge > ul {
  margin-bottom: 4rem;
}

.ul-control {
  list-style: none;
  line-height: 1.4;
  padding-inline-start: 1rem;
}

.li-control {
  padding: 0;

  .control-link {
    padding: 0 0.5rem;
  }

  .control {
    a {
      padding: 0 0.5rem;
    }
  }

}

.download {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: var(--download-btn-color);

  p {
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
  }
}

.portfolio {
  width: 30%;
  height: 60rem;
  margin: 0 auto;

  ul {
    overflow-y: scroll;
    height: 93%;
  }

  h2 {
    padding: 0 1rem;
  }

  background-color: var(--portfolio-bg-color);
}

.li-portfolio {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--text-color);

  p {
    margin: 0;
    padding: 1rem;
  }

  &:hover,
  &:focus {
    color: var(--hover-text-color);
    background-color: var(--hover-bg-color);
    transition: .5s;

    outline-style: none;
    outline-color: transparent;
  }
}

#element::-webkit-scrollbar {
  width: 10px;
  background-color: var(--cv-bg-color);
}

#element::-webkit-scrollbar-thumb {
  background-color: #333233;
}


#bg-barbershop {
  background-image: url("../img/forPortfolio/barbershop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-bike {
  background-image: url("../img/forPortfolio/bike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-ticTacToe {
  background-image: url("../img/forPortfolio/tictactoe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-gitSearch {
  background-image: url("../img/forPortfolio/gitsearch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-countdownTimer {
  background-image: url("../img/forPortfolio/countdownTimer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-quiz {
  background-image: url("../img/forPortfolio/quiz.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

#bg-angularToDoList {
  background-image: url("../img/forPortfolio/angularToDoList.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 8rem;
}

@media (max-width: 825px) {
  .wrapper {
    width: 100%;
  }
  .cv {
    width: 80%;
    height: auto;
  }

  .download {
    width: 80%;
  }

  .portfolio {
    width: 80%;
    height: auto;

    ul {
      overflow-y: hidden;
      height: auto;
    }
  }
  #bg-barbershop {
    height: 20rem;
  }

  #bg-bike {
    height: 20rem;
  }

  #bg-ticTacToe {
    height: 20rem;
  }

  #bg-gitSearch {
    height: 20rem;
  }

  #bg-countdownTimer {
    height: 20rem;
  }

  #bg-quiz {
    height: 20rem;
  }

  #bg-angularToDoList {
    height: 20rem;
  }
}

@media (max-width: 550px) {
  .cv-container {
    flex-wrap: wrap;
    padding: 0;

    .cv-photo {
      width: 9rem;
      height: 12rem;
      margin: 1rem 1rem 0;
    }

    .cv-contacts {
      background-color: var(--portfolio-bg-color);
      width: 100%;
    }
  }

  .download {
    margin-bottom: 2.5rem;
  }

  .knowledge > ul {
    margin-bottom: 8rem;
  }


}

@media (max-width: 425px) {
  .cv {
    width: 100%;
  }

  .download {
    width: 100%;
  }
  .portfolio {
    width: 100%;
  }

  #bg-barbershop {
    height: 12rem;
  }

  #bg-bike {
    height: 12rem;
  }

  #bg-ticTacToe {
    height: 12rem;
  }

  #bg-gitSearch {
    height: 12rem;
  }

  #bg-countdownTimer {
    height: 12rem;
  }

  #bg-quiz {
    height: 12rem;
  }

  #bg-angularToDoList {
    height: 12rem;
  }
}
